* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color:wheat;
  box-align:center;
  
}

.converte {
background-color: yellowgreen;
}

.limpa {
  background-color: darkkhaki;
  

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
